@media screen and (max-width: 1200px) {
    .wrapper {
        padding: 0 15px 40px;
    }

    .animation-block {
        width: 900px;
        height: 450px;
    }

    .track__wrapper {
        transform: rotateX(65deg);
    }

    .main__subtitle {
        font-size: 22px;
    }

    .track__title {
        font-size: 155px;
    }

    .track__box-text {
        width: 92%;
        top: 1280px;
    }

    .track__text {
        font-size: 14px;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -190px;
    }

    .gravity-bike {
        height: 400px;
    }

    .cards {
        padding: 10px 30px 10px 30px;
    }

    .card {
        width: 125px;
        height: 174px;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 15px 35px;
    }

    .animation-block {
        width: 800px;
        height: 400px;
    }

    .track__wrapper {
        transform: rotateX(70deg);
    }

    .main__subtitle {
        font-size: 20px;
    }

    .track__title {
        font-size: 140px;
    }

    .track__box-text {
        width: 85%;
        top: 1245px;
    }

    .track__text {
        font-size: 13px;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -200px;
    }

    .gravity-bike {
        height: 350px;
    }

    .card {
        width: 115px;
        height: 160px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        padding: 0 15px 30px;
    }

    .animation-block {
        width: 700px;
        height: 350px;
    }

    .main__animation-block {
        margin: 0 auto 85px auto;
    }

    .main__title {
        font-size: 18px;
        margin: 0 0 70px 0;
    }

    .main__subtitle {
        font-size: 18px;
    }

    .track:hover .track__box-text {
        animation-duration: 110s;
    }

    .track__title {
        font-size: 130px;
    }

    .track__box-text {
        width: 73%;
        top: 1150px;
    }

    .track__text {
        font-size: 11px;
        padding: 7px 0;
    }

    .track__text-track {
        transform: rotateX(62deg);
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -210px;
    }

    .gravity-bike {
        height: 300px;
    }

    .card {
        width: 104px;
        height: 145px;
    }
}

@media screen and (max-width: 800px) {
    .animation-block {
        width: 650px;
        height: 325px;
    }

    .track__wrapper {
        transform: rotateX(75deg);
    }

    .main__title {
        font-size: 18px;
        margin: 0 0 60px 0;
    }

    .main__subtitle {
        font-size: 16px;
    }

    .main__animation-block {
        margin: 0 auto 80px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 120s;
    }

    .track__title {
        font-size: 120px;
    }

    .track__box-text {
        width: 67%;
        top: 910px;
    }

    .track__text {
        font-size: 8px;
        letter-spacing: 3px;
        padding: 4px 0;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -220px;
    }

    .gravity-bike {
        height: 280px;
    }

    .card {
        width: 92px;
        height: 128px;
    }
}

@media screen and (max-width: 700px) {
    .animation-block {
        width: 550px;
        height: 275px;
    }

    .track__wrapper {
        transform: rotateX(80deg);
    }

    .header__title {
        font-size: 65px;
        padding: 80px 0;
    }

    .main__subtitle {
        font-size: 13px;
    }

    .main__animation-block {
        margin: 0 auto 75px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 130s;
    }

    .track__title {
        font-size: 80px;
    }

    .track__box-text {
        width: 45%;
        top: 910px;
    }

    .track__text {
        font-size: 6px;
    }

    .track:hover .track__wrapper .track__box-text {
        margin: -2300px auto 0 auto;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -230px;
    }

    .gravity-bike {
        height: 235px;
    }

    .cards {
        padding: 7px 25px 7px 25px;
    }

    .card {
        width: 79px;
        height: 110px;
    }
}

@media screen and (max-width: 600px) {
    .animation-block {
        width: 500px;
        height: 250px;
    }

    .header__title {
        font-size: 60px;
        padding: 60px 0;
    }

    .main__subtitle {
        font-size: 12px;
    }

    .main__animation-block {
        margin: 0 auto 70px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 160s;
    }

    .track__title {
        font-size: 75px;
        margin: 7px 0;
    }

    .track__box-text {
        width: 30%;
        top: 810px;
    }

    .track__text {
        font-size: 4px;
        letter-spacing: 2px;
        padding: 3px 0;
    }

    .track:hover .track__wrapper .track__box-text {
        margin: -2000px auto 0 auto;
    }

    .space:hover {
        background: url(../img/space.webp) center / 100% 100% no-repeat;
    }

    .space:active {
        background: url(../img/space.webp) center / 100% 100% no-repeat;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -240px;
    }

    .gravity-bike {
        height: 215px;
    }

    .card {
        width: 69px;
        height: 97px;
    }
}

@media screen and (max-width: 550px) {
    .animation-block {
        width: 450px;
        height: 225px;
    }

    .header__title {
        font-size: 55px;
    }

    .main__subtitle {
        font-size: 11px;
    }

    .main__animation-block {
        margin: 0 auto 65px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 200s;
    }

    .track__title {
        font-size: 75px;
        margin: 5px 0;
    }

    .track__box-text {
        width: 15%;
        top: 715px;
    }

    .track__text {
        font-size: 2px;
        letter-spacing: 1px;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -245px;
    }

    .gravity-bike {
        height: 190px;
    }

    .cards {
        padding: 7px 20px 7px 20px;
    }

    .card {
        width: 61px;
        height: 85px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 0 10px 30px;
    }

    .animation-block {
        width: 400px;
        height: 200px;
        padding: 0;
    }

    .header__title {
        font-size: 50px;
    }

    .main__animation-block {
        margin: 0 auto 60px auto;
        padding: 0;
    }

    .track:hover .track__box-text {
        animation-duration: 400s;
    }

    .track__wrapper {
        transform: rotateX(77deg);
    }

    .track__title {
        font-size: 70px;
    }

    .track__box-text {
        width: 8%;
        top: 638px;
    }

    .track__text {
        font-size: 1px;
        letter-spacing: 1px;
        padding: 1px 0;
    }

    .gravity-bike {
        height: 165px;
    }

    .card {
        width: 54px;
        height: 75px;
    }
}

@media screen and (max-width: 450px) {
    .animation-block {
        width: 350px;
        height: 175px;
    }

    .header__title {
        font-size: 45px;
    }

    .main__animation-block {
        margin: 0 auto 45px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 600s;
    }

    .track__wrapper {
        transform: rotateX(70deg);
    }

    .track__box-text {
        width: 12%;
        top: 540px;
    }

    .track__title {
        font-size: 65px;
    }

    .track__text {
        letter-spacing: 0;
    }

    .track:hover .track__wrapper .track__box-text {
        margin: -1300px auto 0 auto;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -255px;
    }

    .gravity-bike {
        height: 140px;
    }

    .cards {
        padding: 5px 15px 5px 15px;
    }

    .card {
        width: 47px;
        height: 66px;
    }
}

@media screen and (max-width: 400px) {
    .animation-block {
        width: 300px;
        height: 150px;
    }

    .header__title {
        font-size: 38px;
    }

    .main__animation-block {
        margin: 0 auto 50px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 750s;
    }

    .track__wrapper {
        transform: rotateX(65deg);
    }

    .track__box-text {
        width: 10%;
        top: 520px;
    }

    .track__title {
        font-size: 55px;
        margin: 4px 0;
    }

    .track:hover .track__wrapper .track__box-text {
        margin: -1300px auto 0 auto;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -260px;
    }

    .gravity-bike {
        height: 115px;
    }

    .card {
        width: 44px;
        height: 61px;
    }
}

@media screen and (max-width: 350px) {
    .animation-block {
        width: 250px;
        height: 125px;
    }

    .header__title {
        font-size: 34px;
    }

    .main__animation-block {
        margin: 0 auto 40px auto;
    }

    .track:hover .track__box-text {
        animation-duration: 900s;
    }

    .track__wrapper {
        transform: rotateX(60deg);
    }

    .track__box-text {
        top: 485px;
    }

    .track__title {
        font-size: 50px;
        margin: 1px 0;
    }

    .track__text {
        padding: 0;
    }

    .track:hover .track__wrapper .track__box-text {
        margin: -200px auto 0 auto;
    }

    .sand__image-left,
    .sand__image-right {
        bottom: -270px;
    }

    .gravity-bike {
        height: 90px;
    }

    .card {
        width: 38px;
        height: 53px;
    }

    .cards {
        padding: 3px 7px 3px 7px;
    }
}

@media screen and (max-width: 300px) {
    .header__title {
        font-size: 30px;
    }

    .main__animation-block {
        margin: 0 auto 40px auto;
    }
}
