@import "null.css";
@import "fonts.css";

body {
	font-family: "Star Jedi Rounded";
	user-select: none;
	background-color: #000000;
}

img {
	width: 100%;
	height: 100%;
}

.wrapper {
	padding: 0 15px 50px;
	min-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header__title {
	color: #e5b13a;
	font-family: "Star Jedi Hollow";
	font-size: 80px;
	text-align: center;
	font-weight: 400;
	padding: 100px 0;
}

.header__image {
	text-align: center;
	margin: 0 0 70px 0;
}

.main__subtitle {
	color: #e5b23ad0;
	font-family: "Star Jedi Rounded";
	text-align: center;
	font-size: 24px;
	margin: 0 0 15px 0;
	font-weight: 400;
	line-height: 0.9;
}

.main__animation-block {
	margin: 0 auto 90px auto;
	border: #9999CB solid 1px;
}

.animation-block {
	font-family: "Star Jedi";
	font-size: 17px;
	overflow: hidden;
	perspective: 250px;
	width: 1000px;
	height: 500px;
	background: url(../img/space.webp) center / 100% 100% no-repeat;
	background-color: rgb(0, 0, 0);
	border-radius: 15px;
}

.animation-block__wrapper {
	position: relative;
	top: 57px;
	transform: rotateX(50deg);
	left: 0;
	margin: -300px auto 0 auto;
	color: #e5b13a;
	width: 100%;
	height: 300%;
}

.animation-block__title {
	position: relative;
	font-size: 165px;
	font-weight: 900;
	text-align: center;
	margin: 10px 0;
}

.animation-block__box-text {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 97%;
	top: 1360px;
}

.animation-block__text {
	letter-spacing: 5px;
	padding: 10px 0;
	font-size: 16px;
}

.animation-block:hover .animation-block__wrapper .animation-block__box-text {
	transition-duration: 90s;
	margin: -3200px auto 0 auto;
}

.animation-block__starship-image {
	position: absolute;
	top: 100%;
	left: 100%;
	opacity: 0;
}

.animation-block__hyperspace-image {
	position: absolute;
	top: 43%;
	left: 49.5%;
	transform: translate3d(-50%, -50%, 0);
	height: 115%;
	width: 108%;
	opacity: 0;
}

.animation-block:active > .animation-block__hyperspace-image {
	opacity: 0.9;
	transform: translate3d(-50%, -50%, 120px);
	transition: transform 3s ease 0.3s, opacity 0.8s ease 0.3s;
}

.animation-block:hover {
	background: url(../img/space.webp) center / 105% 105% no-repeat;
	transition-duration: 2s;
}

.animation-block:active {
	background: url(../img/space.webp) center / 200% 200% no-repeat;
	transition-duration: 2s;
}

.animation-block:hover .animation-block__starship-image {
	opacity: 1;
	animation-name: see-the-starship;
	animation-duration: 10000s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: backwards;
	animation-play-state: running;
}

@keyframes see-the-starship {
	0% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, 50%, 500px);
	}

	0.015% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	100% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.animation-block:active .animation-block__starship-image {
	opacity: 1;
	animation-name: flight-to-hyperspace;
	animation-duration: 11s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: backwards;
	animation-play-state: running;
}

@keyframes flight-to-hyperspace {
	0% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	9% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	100% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, -50000px);
	}
}

@media screen and (max-width: 1200px) {
	.main__subtitle {
		font-size: 22px;
	}

	.animation-block {
		width: 900px;
		height: 450px;
	}

	.wrapper {
		padding: 0 15px 40px;
	}

	.animation-block__title {
		font-size: 155px;
	}

	.animation-block__box-text {
		width: 92%;
		top: 1280px;
	}

	.animation-block__text {
		font-size: 14px;
	}
}

@media screen and (max-width: 1000px) {
	.main__subtitle {
		font-size: 20px;
	}

	.animation-block {
		width: 800px;
		height: 400px;
	}

	.wrapper {
		padding: 0 15px 35px;
	}

	.animation-block__title {
		font-size: 140px;
	}

	.animation-block__box-text {
		width: 85%;
		top: 1245px;
	}

	.animation-block__text {
		font-size: 13px;
	}
}

@media screen and (max-width: 900px) {

	.main__title {
		font-size: 18px;
		margin: 0 0 70px 0;
	}

	.main__subtitle {
		font-size: 18px;
	}

	.animation-block {
		width: 700px;
		height: 350px;
	}

	.wrapper {
		padding: 0 15px 30px;
	}

	.main__animation-block {
		margin: 0 auto 85px auto;
	}

	.animation-block__title {
		font-size: 130px;
	}

	.animation-block__box-text {
		width: 73%;
		top: 1160px;
	}

	.animation-block__text {
		font-size: 11px;
		padding: 7px 0;
	}

	.animation-block__wrapper {
		transform: rotateX(62deg);
	}
}

@media screen and (max-width: 800px) {
	.main__title {
		font-size: 18px;
		margin: 0 0 60px 0;
	}

	.main__subtitle {
		font-size: 16px;
	}

	.animation-block {
		width: 650px;
		height: 325px;
	}

	.main__animation-block {
		margin: 0 auto 80px auto;
	}

	.animation-block__title {
		font-size: 120px;
	}

	.animation-block__box-text {
		width: 67%;
		top: 900px;
	}

	.animation-block__text {
		font-size: 8px;
		letter-spacing: 3px;
		padding: 4px 0;
	}
}

@media screen and (max-width: 700px) {
	.header__title {
		font-size: 65px;
		padding: 80px 0;
	}

	.main__subtitle {
		font-size: 13px;
	}

	.animation-block {
		width: 550px;
		height: 275px;
	}

	.main__animation-block {
		margin: 0 auto 75px auto;
	}

	.animation-block__title {
		font-size: 80px;
	}

	.animation-block__box-text {
		width: 57%;
		top: 880px;
	}

	.animation-block__text {
		font-size: 7px;
	}

	.animation-block:hover .animation-block__wrapper .animation-block__box-text {
		margin: -2300px auto 0 auto;
	}
}

@media screen and (max-width: 600px) {
	.header__title {
		font-size: 60px;
		padding: 60px 0;
	}

	.main__subtitle {
		font-size: 12px;
	}

	.animation-block {
		width: 500px;
		height: 250px;
	}

	.main__animation-block {
		margin: 0 auto 70px auto;
	}

	.animation-block__title {
		font-size: 70px;
		margin: 7px 0;
	}

	.animation-block__box-text {
		width: 50%;
		top: 735px;
	}

	.animation-block__text {
		font-size: 5px;
		letter-spacing: 2px;
		padding: 3px 0;
	}

	.animation-block:hover .animation-block__wrapper .animation-block__box-text {
		margin: -2000px auto 0 auto;
	}

	.animation-block:hover {
		background: url(../img/space.webp) center / 100% 100% no-repeat;
	}

	.animation-block:active {
		background: url(../img/space.webp) center / 100% 100% no-repeat;
	}
}

@media screen and (max-width: 550px) {
	.header__title {
		font-size: 55px;
	}

	.main__subtitle {
		font-size: 11px;
	}

	.animation-block {
		width: 450px;
		height: 225px;
	}

	.main__animation-block {
		margin: 0 auto 65px auto;
	}

	.animation-block__title {
		font-size: 50px;
		margin: 5px 0;
	}

	.animation-block__box-text {
		width: 43%;
		top: 620px;
	}

	.animation-block__text {
		font-size: 3px;
		letter-spacing: 1px;
	}
}

@media screen and (max-width: 500px) {

	.wrapper {
		padding: 0 10px 30px;
	}

	.header__title {
		font-size: 50px;
	}

	.animation-block {
		width: 400px;
		height: 200px;
		padding: 0;
	}

	.main__animation-block {
		margin: 0 auto 60px auto;
		padding: 0;
	}

	.animation-block__title {
		font-size: 30px;
	}

	.animation-block__box-text {
		width: 35%;
		top: 615px;
	}

	.animation-block__text {
		padding: 2px 0;
	}
}

@media screen and (max-width: 450px) {
	.header__title {
		font-size: 45px;
	}

	.animation-block {
		width: 350px;
		height: 175px;
	}

	.main__animation-block {
		margin: 0 auto 55px auto;
	}

	.animation-block__title {
		font-size: 25px;
	}

	.animation-block__box-text {
		width: 26%;
		top: 548px;
	}

	.animation-block__text {
		font-size: 2px;
		letter-spacing: 0;
	}

	.animation-block:hover .animation-block__wrapper .animation-block__box-text {
		margin: -1300px auto 0 auto;
	}
}

@media screen and (max-width: 400px) {
	.header__title {
		font-size: 38px;
	}

	.animation-block {
		width: 300px;
		height: 150px;
	}

	.main__animation-block {
		margin: 0 auto 50px auto;
	}

	.animation-block__title {
		font-size: 15px;
		margin: 4px 0;
	}

	.animation-block__box-text {
		width: 17%;
		top: 560px;
	}

	.animation-block__text {
		font-size: 2px;
		padding: 1px 0;
	}

	.animation-block:hover .animation-block__wrapper .animation-block__box-text {
		margin: -500px auto 0 auto;
	}
}

@media screen and (max-width: 350px) {
	.header__title {
		font-size: 34px;
	}

	.animation-block {
		width: 250px;
		height: 125px;
	}

	.main__animation-block {
		margin: 0 auto 45px auto;
	}

	.animation-block__title {
		font-size: 5px;
		margin: 1px 0;
	}

	.animation-block__text {
		font-size: 1px;
		padding: 0;
	}

	.animation-block__box-text {
		width: 6%;
		top: 521px;
	}

	.animation-block:hover .animation-block__wrapper .animation-block__box-text {
		margin: -200px auto 0 auto;
	}
}

@media screen and (max-width: 300px) {
	.header__title {
		font-size: 30px;
	}

	.main__animation-block {
		margin: 0 auto 40px auto;
	}
}