@import "null.css";

@font-face {
	font-family: "Star Jedi";
	src: url("../fonts/StarJedi.woff2") format("woff2"), url("../fonts/StarJedi.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Star Jedi Rounded";
	src: url("../fonts/StarJediRounded.woff2") format("woff2"), url("../fonts/StarJediRounded.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Star Jedi Hollow";
	src: url("../fonts/StarJediHollow.woff2") format("woff2"), url("../fonts/StarJediHollow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Star Jedi Rounded";
	user-select: none;
	background-color: #000000;
}

img {
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	max-width: 1500px;
	padding: 50px 0 50px 0;
	margin: 0 auto;
}

.header__title {
	color: #e5b13a;
	font-family: "Star Jedi Hollow";
	font-size: 80px;
	text-align: center;
	font-weight: 400;
	padding: 20px;
	margin: 0 0 50px 0;
}

.header__image {
	text-align: center;
	margin: 0 0 70px 0;
}

.main__subtitle {
	color: #e5b23ad0;
	font-family: "Star Jedi Rounded";
	text-align: center;
	font-size: 24px;
	margin: 0 0 15px 0;
	padding: 0 8%;
	font-weight: 400;
	line-height: 0.9;
}

.main__star-wars {
	margin: 0 auto 100px auto;
	border: #9999CB solid 1px;
}

.star-wars {
	font-family: "Star Jedi";
	font-size: 17px;
	overflow: hidden;
	perspective: 250px;
	max-width: 80%;
	height: 500px;
	background: url(../img/space.webp) center / 100% 100% no-repeat;
	background-color: rgb(0, 0, 0);
	border-radius: 15px;
}

.star-wars__block {
	margin: -300px auto 0 auto;
	color: #e5b13a;
	width: 100%;
	height: 300%;
	transform: rotateX(50deg);
}

.star-wars__title {
	font-size: 140px;
	font-weight: 900;
	text-align: center;
	line-height: 80%;
	margin: 0 0 40px 0;
}

.star-wars__box-text {
	margin: 620px 0 0 0;
}

.star-wars__text {
	letter-spacing: 8px;
	padding: 10px 0;
	font-size:25px;
}

.star-wars:hover .star-wars__block .star-wars__box-text {
	transition-duration: 90s;
	margin: -5000px 0 0 0;
}

.star-wars__image {
	position: absolute;
	top: 100%;
	left: 100%;
	opacity: 0;
}

.star-wars__image-2 {
	position: absolute;
	top: 43%;
	left: 49.5%;
	transform: translate3d(-50%, -50%, 0);
	height: 115%;
	width: 108%;
	opacity: 0;
}

.star-wars:active > .star-wars__image-2 {
	opacity: 0.9;
	transform: translate3d(-50%, -50%, 120px);
	transition: transform 3s ease 0.3s, opacity 0.8s ease 0.3s;
}

.star-wars:hover {
	background: url(../img/space.webp) center / 105% 105% no-repeat;
	transition-duration: 2s;
}

.star-wars:active {
	background: url(../img/space.webp) center / 200% 200% no-repeat;
	transition-duration: 2s;
}

.star-wars:hover .star-wars__image {
	opacity: 1;
	animation-name: see-the-starship;
	animation-duration: 10000s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: backwards;
	animation-play-state: running;
}

@keyframes see-the-starship {
	0% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, 50%, 500px);
	}

	0.015% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	100% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.star-wars:active .star-wars__image {
	opacity: 1;
	animation-name: flight-to-hyperspace;
	animation-duration: 11s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: backwards;
	animation-play-state: running;
}

@keyframes flight-to-hyperspace {
	0% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	9% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	100% {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, -50000px);
	}
}